@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: block;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.nav-logo {
  width: auto;
}

.section {
  border-bottom: 1px solid rgba(100, 100, 100, 0.25);
}

.head {
  text-align: center;
}

input {
  width: 75%;
}

.color {
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.counter {
  display: block;
  width: 100%;
}

.segment:first-child {
  border: none;
}

.btn-custom {
  color: black;
}

.input-field {
  font-size: 35px;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #eceff1;
  box-shadow: 0 1px 0 0 #eceff1;
}

.counter-container {
  border-radius: 10px;
  border: 1px solid black;
  padding: 0;
}

.segment {
  height: 100%;
  border-left: 1px solid black;
  box-sizing: box;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  float: left;
  width: 12.5%;
}

footer {
  border-top: 1px solid rgba(0,0,0, 0.1);
  background-color: #f3f3f3;
  padding: 10px;
}